body{
    background-color: white;
    padding: 0%;
    margin: 0%;
}
section{
 background-color: white;
 display: flex;
 justify-content: space-between;
 padding: 50px;
}
.left-side{
width: 48%;
}
.right-side{
width: 48%;
}
img{
    width: 30%;
}
button{
    font-size: larger;
    border-radius: 2px;
    background: rgb(255, 100, 100);
    color: aliceblue;
    /* Rectangle 10 */
width: 208px;
height: 47px;
left: 148px;
top: 477px;
    
  }
  /* Navbar Section Start */
  .container{
    width: 1420px;
    margin: 2%;
  }
  #navbar{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: right;
    justify-content: end;
  }

/* Post Section Starts */
.top{
    background: rgb(237, 247, 250);
    display: flex;
    align-items: center;
    gap: 100%;
    text-align: right;
    justify-content: space-between;
    font-size: larger;
    word-spacing: 500px;

}

.view{

  background: rgb(237, 247, 250);
  display: flex;
  
}
/* Post Section End */

/* design Section Starts */
.figma{
position: absolute;
width: 418px;
height: 295px;
left: 1080px;
top: 664px;
border-radius: 4px;
background: rgb(255, 255, 255);;
}

/* design Section End */

/* Image Section Start */
.btn-2018{
  border-radius: 16px;
background: rgb(20, 40, 80);
 display: flex;
 align-items: center;
}

.last{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-m2018{
  border-radius: 16px;
background: rgb(20, 40, 80);
 display: flex;
}
.btn-2020{
  border-radius: 16px;
background: rgb(20, 40, 80);
 display: flex;
}


/* Image Section End */